<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USER INFO</title>
    <th:block id="css">
    </th:block>
</head>
<body>
<th:block id="content">
    <div class="container " style="width: 750px">
        <div class="border border-secondary border-1 border-opacity-25 rounded-3 my-3">
            <h3 class="p-4">
                Đổi mật khẩu
            </h3>
            <div class="d-flex flex-column mb-3 align-items-center ">
                <div>
                    <img style="height: 200px; width: 150px; object-fit: cover" th:src="${user.get().avatar}" alt="A">
                </div>
                <span class="m-4 border-bottom" style="width: 95%"></span>
                <form class="form-user-password">
                    <div class="form-group mb-3">
                        <label for="oldPassword" class="form-label">Mật khẩu cũ</label>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword"/>
                    </div>
                    <div class="form-group mb-3">
                        <label for="newPassword" class="form-label">Mật khẩu mới</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"/>
                    </div>
                    <div class="form-group mb-3">
                        <label for="confirmPassword" class="form-label">Nhập lại mật khẩu mới</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"/>
                    </div>

                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary" id="btn-update-password">Cập Nhật</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</th:block>

<th:block id="js">
    <!-- JS -->
    <script src="/web-asset/js/passwordUpdate.js"></script>
</th:block>
</body>
</html>