* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.movie-poster {
    height: 250px;
}

.movie-poster img {
    object-fit: cover;
    transition: all 0.3s;
}

.movie-poster:hover img {
    transform: scale(1.1);
}

.img_title {
    width: 450px;
    height: 400px;
}

.avt {
    width: 60px; !important;
    height: 60px; !important;
    background: #000;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.episode {
    height: 250px;
    width: 100%;
    background: #000;
}