<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:id="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<header class="bg-dark">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="https://motchilltv.ac/_ipx/s_150x35/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="index.html">Trang Chủ</a>
                    <a class="nav-link text-white" href="danh-sach-phim.html">Phim Bộ</a>
                    <a class="nav-link text-white" href="danh-sach-phim.html">Phim Lẻ</a>
                    <a class="nav-link text-white" href="danh-sach-phim.html">Phim Chiếu Rạp</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<section class="py-4">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <h3 class="mb-3">Đăng Ký</h3>
            <form id="form-register" class="p-4 bg-body-tertiary">
                <div class="mb-3">
                    <label for="userName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="userName"/>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email"/>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password"/>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="confirmPassword"/>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" id="btn-register">Đăng ký</button>
                </div>
            </form>
        </div>
    </div>
</section>
<footer class="bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="https://motchilltv.ac/_ipx/s_150x35/logo.png" alt="logo">
                <p class="text-white mt-3">Motchill - Trang web xem phim trực tuyến miễn phí chất lượng cao với giao diện trực quan, tốc độ tải trang nhanh, cùng kho phim với hơn 10.000+ phim mới, phim hay, luôn cập nhật phim nhanh, hứa hẹn sẽ đem lại phút giây thư giãn cho bạn.</p>
            </div>
            <div class="col-3">
                <div class="text-white">
                    <h5>DANH MỤC</h5>
                    <ul class="ps-0">
                        <li class="mt-2 mb-3">Phim mới</li>
                        <li class="mb-3">Phim chiếu rạp</li>
                        <li class="mb-3">Phim bộ</li>
                        <li class="mb-3">Phim lẻ</li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="text-white">
                    <h5>DANH MỤC</h5>
                    <ul class="ps-0">
                        <li class="mt-2 mb-3">Phim mới</li>
                        <li class="mb-3">Phim chiếu rạp</li>
                        <li class="mb-3">Phim bộ</li>
                        <li class="mb-3">Phim lẻ</li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="text-white">
                    <h5>DANH MỤC</h5>
                    <ul class="ps-0">
                        <li class="mt-2 mb-3">Phim mới</li>
                        <li class="mb-3">Phim chiếu rạp</li>
                        <li class="mb-3">Phim bộ</li>
                        <li class="mb-3">Phim lẻ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    // Xử lý login
    const formRegisterEl = document.getElementById('form-register');
    const emailEl = document.getElementById('email');
    const passwordEl = document.getElementById('password');
    const userNameEl = document.getElementById('userName');
    const confirmPassword = document.getElementById('confirmPassword');

    formRegisterEl.addEventListener("submit", async (e) => {
        e.preventDefault();

        if (emailEl.value.trim() === "") {
            alert("Email không được để trống");
            return;
        }

        if (passwordEl.value.trim() === "") {
            alert("Password không được để trống");
            return;
        }

        if (passwordEl.value.trim() !== confirmPassword.value.trim()) {
            alert("Password khong chính xác");
            return;
        }

        const data = {
            email: emailEl.value,
            password: passwordEl.value,
            name: userNameEl.value,
            confirmPassword: confirmPassword.value
        };

        console.log(data);

        try {
            const response = await axios.post('/api/auth/register', data);
            if (response.status === 200) {
                alert("Đăng ký thành công");
                setTimeout(() => {
                    window.location.href = '/';
                }, 1000); // sau 1s chuyển hướng về trang chủ
            }
        } catch (error) {
            console.error(error);
            alert("Tai khoan hoac mat khau khong dung");
        }
    })
</script>
</script>
</body>
</html>